.profile-picture {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: solid;
}
